body {
    background-color: black;
}

#sb1:hover {
    background-color:#661920;
    cursor: pointer;
}

#sb1:active {
    background-color:#db1d2d;
}
#sb2:hover {
    background-color:#6e2819;
    cursor: pointer;
}

#sb2:active {
    background-color:#f0421c;
}
#sb3:hover {
    background-color:#735b20;
    cursor: pointer;
}

#sb3:active {
    background-color:#fec02d;
}
#sb4:hover {
    background-color:#1b613b;
    cursor: pointer;
}

#sb4:active {
    background-color:#20d071;
}
#sb5:hover {
    background-color:#184d65;
    cursor: pointer;
}

#sb5:active {
    background-color:#1a9ddb;
}
#sb6:hover {
    background-color:#4e2753;
    cursor: pointer;
}

#sb6:active {
    background-color:#a13fad;
}

#sb1 {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}
#sb2 {
    background-color: #422018;
    border: 3px solid #f0421c;
}
#sb3 {
    background-color: #45391b;
    border: 3px solid #fec02d;
}
#sb4 {
    background-color: #193c29;
    border: 3px solid #20d071;
}
#sb5 {
    background-color: #18323e;
    border: 3px solid #1a9ddb;
}
#sb6 {
    background-color: #331f35;
    border: 3px solid #a13fad;
}
#sb7 {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}
#sb8 {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}
#sb9 {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}

.soundbox {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: flex;
}
.drumbox {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: flex;
    border: 3px solid grey;
    background-color: darkslategray;
}
.main-container {
    height: 116px;
    width: 812px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.drum-container {
    height: 116px;
    width: 812px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;

    top: 0; left: 0; bottom: 0; right: 0;
}